

<h1>All Posts</h1>

<p>
  <% @posts.each do |post| %>
  <br>
  <%= link_to image_tag(post.post_image.medium.url), post_path(post) %>
</p>

<p>
  <strong>Caption:</strong>
  <%= post.caption %>
</p>

<br>

<% if post.user == current_user %>
<%= button_to 'Delete Post', post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %> 

<br>

<%= link_to 'Edit', edit_post_path(post) %> 
<br>

<br><br><br><br>
<% end %>


<% end %>