<p>

</p>
<b>Here is your image:</b><br>
<%= link_to image_tag(@post.post_image.medium.url), post_path(@post) %>
<p>
<strong>Caption:</strong>
<%= @post.caption %>

</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %><br>

