<!DOCTYPE html>
<html>
<head>
  <title>Instagran</title>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <nav>
    <ul>
    <li>
    <a href='/posts'>Posts</a>
    </li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
