<% title "My Profile" %> 

<p>Username: <%=@user.username %>

<h2>Pals</h2>
<ul>
<% for user in @user.friends %>
<li><%= user.username %></li>
<% end %> 
</ul>

<p><%= link_to "Find Pals", users_path %></p>